<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Civilized Coffee</title>

    <!-- Bootstrap stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/header.css">

  </head>
  <body>

    <% include ../../templates/header.ejs %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <h3>Events</h3>

          <ul class="list-unstyled">
            <% events.sort( function( a, b) {
              if (a.date < b.date) return -1;
              if (a.date > b.date) return 1;
              return 0;
            });
            for (var i = 0;i < events.length; i++) { %>
              <li>
              <%= events[i].date.getMonth() + 1 %>/<%= events[i].date.getDate()%> -
              <%= events[i].name %>,
              <a href="/shops/<%= shops.find(a => a.name === events[i].shop)._id%>">
                <%= events[i].shop %>
              </a>
            </li>
            <% } %>
          </ul>

          <% if (usertype === "manager") {%>
            <a class="btn btn-default" href="/events/new">Schedule A New Event</a>
          <% } %>
        </div>

        <div class="col-md-7 imgDiv">
          <img src="http://i.imgur.com/EaCfFBt.jpg" alt="">
        </div>
      </div>
    </div>

    <% include ../../templates/footer.ejs %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>


  </body>
</html>
