<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Civilized Coffee</title>

    <!-- Bootstrap stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/header.css">


  </head>
  <body>

    <% include ../../templates/header.ejs %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <h3><%= drink.name %></h3>
          <p><%= drink.description %></p>

          <form class="" action="/drinks/<%= drink._id%>?_method=Delete" method="post">
            <input type="submit" value="Delete Drink">
            <a href="<%= drink._id%>/edit">Edit Drink</a>
          </form>
        </div>
        <div class="col-md-7">
          <% if (drink.img !== "" && drink.img !== undefined) { %>
            <img src="<%= drink.img %>" alt="">
          <% } %>
        </div>
      </div>
    </div>

    <% include ../../templates/footer.ejs %>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>


  </body>
</html>
